### Prime number:

In [86]:
for i in range(1,101):
    count = 0
    for j in range(1,i+1):
        if i%j == 0:
            count += 1
    if count == 2:
        print(i, end='  ')

2  3  5  7  11  13  17  19  23  29  31  37  41  43  47  53  59  61  67  71  73  79  83  89  97

In [82]:
for primeno in range(1, 101):
    count = 0
    for i in range(2, (primeno // 2 + 1)):
        if (primeno % i == 0):
            count = count + 1
            break
    
    if (count == 0 and primeno != 1):
        print("%d" % primeno, end='  ')

2  3  5  7  11  13  17  19  23  29  31  37  41  43  47  53  59  61  67  71  73  79  83  89  97

### Even number:

In [77]:
for i in range(0,101):
    if i%2 == 0:
        print(i, end=' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [80]:
list(range(2,101,2))

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

### ODD numbers:

In [78]:
for i in range(0,101):
    if i%2 != 0:
        print(i, end=' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [81]:
list(range(1,101,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

### Duplicate elements from list

In [74]:
l = ['a','b','c','d','a','b','b','c']
dup = []
for i in l:
    count = 0
    index = 0
    for j in l:
        index += 1
        if i == j:
            count += 1
            if count > 1:
                dup.append(j)
                del l[index-1]
print('dup:',dup)
print('l:',l)
count_list = []

for c in dup:
    count = dup.count(c)
    t_count = (c, count)
    if count_list.count(t_count) < 1:
        count_list.append(t_count)
print(count_list)

dup: ['a', 'b', 'c', 'b']
l: ['a', 'b', 'c', 'd']
[('a', 1), ('b', 2), ('c', 1)]

In [ ]:
from collections import Counter

list1 = [0,11,8,45,0,45,2,1,2,3,4,5,1,1,2,5,6,7,8,9,9]
d = Counter(list1)
print(d)

duplitam = list([item for item in d if d[item]>1])
print(duplitam)

In [88]:
#duplicates element from list
#2.duplicates element from list
#3.duplicates element count from the list
#4.duplciate element count from list display like
#e.g. {1:count,2:count}
lis=[]
dec={}
a=["nitin","sumit",76,89,"horse","horse",76,"nitin"]
for i in a:
    dec[i]=a.count(i)
    #dec.append(i)
    #print(f"{i}:{a.count(i)}")
    if a.count(i)>1:
        lis.append(i)
       # print(f"{i}:{a.count(i)}")
#print(lis)
print(dec)

for key,value in dec.items():
    if int(value)>1:
        print(f"{key} : {value}")

{'nitin': 2, 'sumit': 1, 76: 2, 89: 1, 'horse': 2}
nitin : 2
76 : 2
horse : 2

### Count of Duplicate elements from list: in dict - {'a':count,'b':count,....}

In [28]:
l = ['a','b','c','d','a','b','b','c']
d = dict.fromkeys(l)
for i in l:
    d[i] = l.count(i)   
print(d)

{'a': 2, 'b': 3, 'c': 2, 'd': 1}

### Can we define list in tuple and viceversa

In [59]:
l = ['a','b',('c','d','a'),'b','b','c']
print(l)
t = ('a','b',['c','d','a'],'b','b','c')
print(t)

['a', 'b', ('c', 'd', 'a'), 'b', 'b', 'c']
('a', 'b', ['c', 'd', 'a'], 'b', 'b', 'c')

### Can we perform UDI operation on list which is inside tuple and viceversa

In [60]:
l = ['a','b',('c','d','a'),'b','b','c']
l[2][1] = 'f'
print(l)

TypeError: 'tuple' object does not support item assignment

In [61]:
t = ('a','b',['c','d','a'],'b','b','c')
t[2][1] = 'f'
print(t)

('a', 'b', ['c', 'f', 'a'], 'b', 'b', 'c')

### Count Char from string - in dict {'a':count,'b':count,....)

In [89]:
l = 'python is easy to learn'
d = dict.fromkeys(l)
for i in l:
    d[i] = l.count(i)   
print(d)

{'p': 1, 'y': 2, 't': 2, 'h': 1, 'o': 2, 'n': 2, ' ': 4, 'i': 1, 's': 2, 'e': 2, 'a': 2, 'l': 1, 'r': 1}

In [91]:
a = 'ppyytthoon'
z = {}
for i in a:
    z[i] = a.count(i)
print(z)

{'p': 2, 'y': 2, 't': 2, 'h': 1, 'o': 2, 'n': 1}

dict

In [92]:
from collections import Counter
string1 = "count char from string"

Duplicates = []
for char in string1:
    if string1.count(char) > 1:
        Duplicates.append(char)
print(Duplicates)
dict1 = Counter(Duplicates)
print(dict1)

['c', 'o', 'n', 't', ' ', 'c', 'r', ' ', 'r', 'o', ' ', 't', 'r', 'n']
Counter({' ': 3, 'r': 3, 'c': 2, 'o': 2, 'n': 2, 't': 2})

### Reverse string with using inbuilt function

In [62]:
s = 'Python'
s[::-1]

'nohtyP'

In [ ]:
s = 'Python'

### Reverse string without using inbuilt function

In [95]:
str1 = 'Python'
str2 = "" 
for i in s:  
    str2 = i + str2
str2

'nohtyP'

### Write a program to give hike to employees based on their current grade.
Grade          Salar         Hike
  A            90K+          15%
  B          70K - 90K       12%
  C          50K - 70K       10%

In [96]:
salary = int(input('Please enter your salary: '))
grade  = input('Please enter your Grade:  ')
if salary > 90000 and grade == 'A':
    hike = 15
    new_salary = salary * (100 + hike) / 100
    print(f"Your hike is {hike}% and new salary is {new_salary}")
elif 90000 > salary > 70000 and grade == 'B':
    hike = 12
    new_salary = salary * (100 + hike) / 100
    print(f"Your hike is {hike}% and new salary is {new_salary}")
elif 70000 > salary > 50000 and grade == 'C':
    hike = 11
    new_salary = salary * (100 + hike) / 100
    print(f"Your hike is {hike}% and new salary is {new_salary}")
else:
    print("You entered invalid combination")

Please enter your salary: 91000
Please enter your Grade:  A
Your hike is 15% and new salary is 104650.0

### Write a program to find largest number in list without using inbuilt function.

In [97]:
a=[1,5,67,32,7,40,89,0,100,6]
temp=1
for i in a:
    if i>temp:
        temp=i
print(temp)

100

In [98]:
l = [3,5,3,4,7,89,97,55,]
m = 0
for i in l:
    if i > m:
        for j in l:
            if i > j:
                m = i
            else:
                m = j    
print(m)

97

In [3]:
a=[1,5,67,32,7,40,89,0,100,6]
sorted(a)
a

[1, 5, 67, 32, 7, 40, 89, 0, 100, 6]

In [7]:
a = [0,25,50,100]
b = [1,1,1,1,]
#b = [1, 26, 51, 101]

In [8]:
b = []
for i in a:
    i=i+1
    b.append(i)
b

[1, 26, 51, 101]

In [12]:
a = [0,25,50,100]
b = [1,1,1,1,]
#b = [1, 26, 51, 101]
b = [(i+1) for i in a]
b

[1, 26, 51, 101]

In [14]:
a = [0,25,50,100]
b = [1,1,1,1,]
#b = [1, 26, 51, 101]

c = []
for i in a:
    for j in b:
        k = i+j
        c.append(k)
        
c = set(c)
c

{1, 26, 51, 101}

In [20]:
a = [400,100,200,400]
print(*a,sep='')

400100200400

In [16]:
a = ['400','100','200','400']
c=a[0]+a[1]+a[2]+a[3]
c

'400100200400'

In [23]:
a = ['400','100','200','400']
n = 0
for i in a:
    n+=1
    
n

4

SyntaxError: invalid syntax (<ipython-input-24-aa98c8e8677b>, line 4)