## # ***Comprehension***

---> List comprehension is most importent among all comprehensions.
---> It just reduces the number of lines of code.
---> Comprehension can be done on --> List
                                  --> Set
                                  --> Dict
---> **Tuple** comprehension is **not possible**.
---> If we tried it will generate a **Generater object**

[Output_Veriable for loop sequence if condition]
     \             \___>___/  \____>___/  /
      \                                  /
       \_______________<________________/

In [1]:
p = list(range(1,25)) # Extract even numbers

In [3]:
# By regular method

even = []
for i in p:
    if i%2 == 0:
        even.append(i)

print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [48]:
# By list Comprehension

even = [i for i in p if i%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

*Set Comprehension*

In [52]:
even = {i for i in p if i%2==0} # Saves result in set, just like *Type Casting*
print(even)

# OR

s = set(range(1,25))
even_set = {i for i in s if i%2==0}
print(even_set)

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24}
{2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24}

*Dict Comprehension*

In [69]:
even = {i:i for i in p if i%2==0} # Saves result in dict, like *Type Casting*
print(even)

d = dict.fromkeys(range(1,10))
print(d)
even_dict = {i:i for i in d if i%2==0}
print(even_dict)

{2: 2, 4: 4, 6: 6, 8: 8, 10: 10, 12: 12, 14: 14, 16: 16, 18: 18, 20: 20, 22: 22, 24: 24}
{1: None, 2: None, 3: None, 4: None, 5: None, 6: None, 7: None, 8: None, 9: None}
{2: 2, 4: 4, 6: 6, 8: 8}

In [70]:
z = {i:j for i,j in even_dict if i%2==0 or j%2==0}
print(z)

TypeError: cannot unpack non-iterable int object

In [80]:
f = {i:i for i in range(1,26)}
print(f)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14, 15: 15, 16: 16, 17: 17, 18: 18, 19: 19, 20: 20, 21: 21, 22: 22, 23: 23, 24: 24, 25: 25}

In [92]:
f = {i+1:i*2 for i in range(1,26)}
print(f)

{2: 2, 3: 4, 4: 6, 5: 8, 6: 10, 7: 12, 8: 14, 9: 16, 10: 18, 11: 20, 12: 22, 13: 24, 14: 26, 15: 28, 16: 30, 17: 32, 18: 34, 19: 36, 20: 38, 21: 40, 22: 42, 23: 44, 24: 46, 25: 48, 26: 50}

In [90]:
p = [1,2,3,4]
q = [5,6,7,8]

o = [(i,j,k) for i in p for j in q for k in [10,20,30,40]]
print(o)

[(1, 5, 10), (1, 5, 20), (1, 5, 30), (1, 5, 40), (1, 6, 10), (1, 6, 20), (1, 6, 30), (1, 6, 40), (1, 7, 10), (1, 7, 20), (1, 7, 30), (1, 7, 40), (1, 8, 10), (1, 8, 20), (1, 8, 30), (1, 8, 40), (2, 5, 10), (2, 5, 20), (2, 5, 30), (2, 5, 40), (2, 6, 10), (2, 6, 20), (2, 6, 30), (2, 6, 40), (2, 7, 10), (2, 7, 20), (2, 7, 30), (2, 7, 40), (2, 8, 10), (2, 8, 20), (2, 8, 30), (2, 8, 40), (3, 5, 10), (3, 5, 20), (3, 5, 30), (3, 5, 40), (3, 6, 10), (3, 6, 20), (3, 6, 30), (3, 6, 40), (3, 7, 10), (3, 7, 20), (3, 7, 30), (3, 7, 40), (3, 8, 10), (3, 8, 20), (3, 8, 30), (3, 8, 40), (4, 5, 10), (4, 5, 20), (4, 5, 30), (4, 5, 40), (4, 6, 10), (4, 6, 20), (4, 6, 30), (4, 6, 40), (4, 7, 10), (4, 7, 20), (4, 7, 30), (4, 7, 40), (4, 8, 10), (4, 8, 20), (4, 8, 30), (4, 8, 40)]

In [93]:
o = [{i,j,k} for i in p for j in q for k in [10,20,30,40]]
print(o)

[{1, 10, 5}, {1, 20, 5}, {1, 5, 30}, {40, 1, 5}, {1, 10, 6}, {1, 20, 6}, {1, 6, 30}, {40, 1, 6}, {1, 10, 7}, {1, 20, 7}, {1, 30, 7}, {40, 1, 7}, {8, 1, 10}, {8, 1, 20}, {8, 1, 30}, {8, 1, 40}, {2, 10, 5}, {2, 20, 5}, {2, 5, 30}, {40, 2, 5}, {2, 10, 6}, {2, 20, 6}, {2, 6, 30}, {40, 2, 6}, {2, 10, 7}, {2, 20, 7}, {2, 30, 7}, {40, 2, 7}, {8, 2, 10}, {8, 2, 20}, {8, 2, 30}, {8, 2, 40}, {10, 3, 5}, {3, 20, 5}, {3, 5, 30}, {40, 3, 5}, {10, 3, 6}, {3, 20, 6}, {3, 6, 30}, {40, 3, 6}, {10, 3, 7}, {3, 20, 7}, {3, 30, 7}, {40, 3, 7}, {8, 10, 3}, {8, 3, 20}, {8, 3, 30}, {8, 40, 3}, {10, 4, 5}, {20, 4, 5}, {4, 5, 30}, {40, 4, 5}, {10, 4, 6}, {4, 20, 6}, {4, 6, 30}, {40, 4, 6}, {10, 4, 7}, {4, 20, 7}, {4, 30, 7}, {40, 4, 7}, {8, 10, 4}, {8, 4, 20}, {8, 4, 30}, {8, 40, 4}]

In [94]:
o = [[i,j,k] for i in p for j in q for k in [10,20,30,40]]
print(o)

[[1, 5, 10], [1, 5, 20], [1, 5, 30], [1, 5, 40], [1, 6, 10], [1, 6, 20], [1, 6, 30], [1, 6, 40], [1, 7, 10], [1, 7, 20], [1, 7, 30], [1, 7, 40], [1, 8, 10], [1, 8, 20], [1, 8, 30], [1, 8, 40], [2, 5, 10], [2, 5, 20], [2, 5, 30], [2, 5, 40], [2, 6, 10], [2, 6, 20], [2, 6, 30], [2, 6, 40], [2, 7, 10], [2, 7, 20], [2, 7, 30], [2, 7, 40], [2, 8, 10], [2, 8, 20], [2, 8, 30], [2, 8, 40], [3, 5, 10], [3, 5, 20], [3, 5, 30], [3, 5, 40], [3, 6, 10], [3, 6, 20], [3, 6, 30], [3, 6, 40], [3, 7, 10], [3, 7, 20], [3, 7, 30], [3, 7, 40], [3, 8, 10], [3, 8, 20], [3, 8, 30], [3, 8, 40], [4, 5, 10], [4, 5, 20], [4, 5, 30], [4, 5, 40], [4, 6, 10], [4, 6, 20], [4, 6, 30], [4, 6, 40], [4, 7, 10], [4, 7, 20], [4, 7, 30], [4, 7, 40], [4, 8, 10], [4, 8, 20], [4, 8, 30], [4, 8, 40]]

In [100]:
o = [{i:j} for i in p for j in q ]
print(o)

[{1: 5}, {1: 6}, {1: 7}, {1: 8}, {2: 5}, {2: 6}, {2: 7}, {2: 8}, {3: 5}, {3: 6}, {3: 7}, {3: 8}, {4: 5}, {4: 6}, {4: 7}, {4: 8}]

In [102]:
city = ['pune','banglore','chennai','baroda']

In [103]:
d = [c for c in city if c not in ['banglore']]
print(d)

['pune', 'chennai', 'baroda']

***Questions Assignment***

Q1. Print cubes of odd numbers between 1 to 50.

In [106]:
odd_no = [i**3 for i in range(1,51) if i%2!=0]
print(odd_no)

[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859, 9261, 12167, 15625, 19683, 24389, 29791, 35937, 42875, 50653, 59319, 68921, 79507, 91125, 103823, 117649]

Q2. In city list extract length of city.

In [108]:
len_city = [len(i) for i in city]
print(len_city)

[4, 8, 7, 6]

Q3. In city list print {'city_name':length}.

In [109]:
len_city1 = {i:len(i) for i in city}
print(len_city1)

{'pune': 4, 'banglore': 8, 'chennai': 7, 'baroda': 6}

In [110]:
location = ['pune','banglore','chennai','baroda','ahmedabad','europe','odisha','indore','uranus','dadario','faridabad','goa','hariyana','zambia']

In [112]:
len_city2 = {i:len(i) for i in location}
print(len_city2)

{'pune': 4, 'banglore': 8, 'chennai': 7, 'baroda': 6, 'ahmedabad': 9, 'europe': 6, 'odisha': 6, 'indore': 6, 'uranus': 6, 'dadario': 7, 'faridabad': 9, 'goa': 3, 'hariyana': 8, 'zambia': 6}

Q4. Only the strings that starts with 'a','e','i','o' & 'u'.

In [118]:
nonvoval = [i for i in location if i.startswith('a') or i.startswith('e') or i.startswith('i') or i.startswith('o') or i.startswith('u')]
print(nonvoval)

['ahmedabad', 'europe', 'odisha', 'indore', 'uranus']

In [122]:
a = ('a','e','i','o','u')
nonvoval = [i for i in location if i.startswith(a)]
print(nonvoval)

['ahmedabad', 'europe', 'odisha', 'indore', 'uranus']

Q.5 In list (range(1,100)) ignore 1,7,33,77.

In [123]:
z = [i for i in range(1,100) if i not in [1,7,33,77]]
print(z)

[2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

Q6. Print only first letter of string in capitalcase.

In [128]:
capital = [i[0].upper() for i in location]
print(capital)

['P', 'B', 'C', 'B', 'A', 'E', 'O', 'I', 'U', 'D', 'F', 'G', 'H', 'Z']