***CONTROL STATMENTS***

---> There are three type of control statements.
1. **Conditional**
      1. simple **if** ---> For Only one condition either True or False
      2. **if-else** ---> For two conditions
      3. **if-else ladder** ---> For more than two conditions 
      4. **Nested if-else** ---> For more than two conditions
2. **Transfer**
      1. **break**
      2. **continue**
      3. **pass**
3. **Iterative**
      1. **for**
      2. **while**

***Simple IF***

    if condition:
       statement
---> Checks if condition satisfies if it does then and then only exicutes statement.

In [ ]:
print('Welcome to Vaccine Detection')
age = int(input('Enter your age: '))
if age>=45:
  print(f'your age is {age} which is more than 45 so you are on the priority')
print('Thanks for using our services')

Welcome to Vaccine Detection
Enter your age: 25
Thanks for using our services

In [ ]:
print('Welcome to Vaccine Detection')
age = int(input('Enter your age: '))
if age>=45:
  print(f'your age is {age} which is more than 45 so you are on the priority')
print('Thanks for using our services')

Welcome to Vaccine Detection
Enter your age: 65
your age is 65 which is more than 45 so you are on the priority
Thanks for using our services

***if-else***

---> For two conditions True and False.

---> When if is True, else is false.

---> when else is True, if is False.

    if condition: (True|False)
    else: (False|True)
---> else does not have any condition it is default when if condition is not satisfied.

In [ ]:
x = 10
if x>10:
  print('if block')
else:
  print('else block')

else block

In [ ]:
print('Welcome to Vaccine Detection')
age = int(input('Enter your age: '))
if age>=45:
  print(f'your age is {age} which is more than 45 so you are on the priority')
else:
  print(f'your age is {age} which is less than 45, wait for your turn')

print('Thanks for using our services')

Welcome to Vaccine Detection
Enter your age: 544
your age is 544 which is more than 45 so you are on the priority
Thanks for using our services

***if-else ladder***

---> For more than two conditions.


---> There can be only one else statement in if-else ladder.

                              if condition 1:
                              elif condition 2:
                                  statement
                              elif condition 3:
                                  statement
                              elif condition 4:
                                  statement
                              elif condition n:
                                  statement
                              else:
                                  statement

In [ ]:
print('Product handaling Quantity Assignment')
qty = int(input('Enter the Quantity : '))
if qty < 10:
  print('Assigned to unit 1')
elif qty >= 10 and qty < 20:
  print('Assigned to unit 2')
elif qty >= 20 and qty < 30:
  print('Assigned to unit 3')
elif qty >= 30 and qty < 40:
  print('Assigned to unit 4')
else:
  print('Assigned to unit 5')

Product handaling Quantity Assignment
Enter the Quantity : 28
Assigned to unit 3

In [ ]:
print('Welcome to the Aruthmatic Operations')
print('1.Addition\n2.Substraction\n3.Multiplication\n4.Division\n5.exponant\n6.Modulus')
choice = input('please enter the choice for operation: ')
a = int(input('Enter the 1st number: '))
b = int(input('enter the 2nd number: '))
if choice == '1':
  z = a+b
  print(z)
elif choice == '2':
  z = a-b
  print(z)
elif choice == '3':
  z = a*b
  print(z)
elif choice == '4':
  z = a/b
  print(z)
elif choice == '5':
  z = a**b
  print(z)
elif choice == '6':
  z = a%b
  print(z)
else:
  print('please choose correct option')

Welcome to the Aruthmatic Operations
1.Addition
2.Substraction
3.Multiplication
4.Division
5.exponant
6.Modulus
please enter the choice for operation: 5
Enter the 1st number: 2
enter the 2nd number: 25
33554432

***nested if-else***

---> For more then two conditions.

---> Multiple else statements are allowed.

                                 if condition:
                                    if condition:
                                       if condition:
                                       else:
                                    else:
                                 else:

In [ ]:
print("Welcome to Vaccine detection")
age = int(input("Please enter your age: "))
if age >= 45:
  print(f'You have entered age {age}, you are in priority age range.')
  medical_condition = input("Do you have any pri-existing medical condition?:[yes|no] ").lower()
  disability = input("Are you a disable person under disability act 2006?:[yes|no] ").lower()
  if medical_condition == 'yes':
    print("Please contact your physician before taking vaccine.")
  else:
    if disability == 'yes':
      print("Please take advantage of our drive-in system.")
    else:
      print("Please go to your nearest vaccination center")
    print('please take vaccine as soon as possible.')
elif age < 45 and age >= 21:
  print(f'You have entered age {age}')
  medical_reg = input("Is your vaccination registration complete?:[yes|no] ").lower()
  if medical_reg == 'yes':
    print('As you are not in priority age range please wait for slot to available.')
  else:
    print("Please complete your registration.")
elif age < 21:
  print("Vaccines which are available are not tested for your age group, so hang tight.")
else:
  print("please enter correct responce.")

Welcome to Vaccine detection
Please enter your age: 23
You have entered age 23
Is your vaccination registration complete?:[yes|no] no
Please complete your registration.

In [ ]:
print("How did you did in your exams")
per = input("Enter your percentage: ")
per.isnumeric()
if per.isnumeric():
  per = int(per)
  if per >= 70:
    print("You have passed with distinction")
  elif per >= 60 and per < 70:
    print("you have passed with 1st class")
  elif per >=50 and per < 60:
    print("you have passed with 2nd class")
  elif per >= 40 and per < 50:
    print("you have passed with 3rd class")
  elif per >=35 and per <40:
    print("You have passed in pass class")
  elif per >= 0 and per< 35:
    print("you are unable to pass this time, better luck next time")
  else:
    print("Please enter valid input")
else:
    print("Please enter valid input1")

How did you did in your exams
Enter your percentage: 75
You have passed with distinction

***range***

**range(start point , end point+1, step)**

---> Range is a data strcture used to generate sequence of numbers.

---> If **start** point is not specified, **Default** is **0**.

---> We have to specify end point.

---> If **step** is not specified **Default** is **1**.

***sequencial Data structures***

                                   list()
                                   tuple()
                                   set()
                                   dict()
                                   frozenset()
                                   string()
                                   range()

In [ ]:
a = list(range(1,10)) #step no specified, Default 1.
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
a = list(range(1,51,5))
print(a)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46]

In [ ]:
a = list(range(0,51,5))
print(a)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
a = list(range(10,2)) # can't go reverse without specifiying step.
print(a)

[]

In [ ]:
a = list(range(10,2,-2)) # can specify negative step.
print(a)

[10, 8, 6, 4]

In [ ]:
a = list(range(10)) #step no specified, Default 1
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

***Iterative statments***

***for loop***

In [ ]:
for i in range(7,11):
  print(i)

7
8
9
10

In [ ]:
p = ['python', 'java','c','100','300']
for i in p:
  print(i)

python
java
c
100
300

In [ ]:
p = ['python', 'java','c','100','300']
for i in p:
  print(i,end=' ')
  print(i,end='$$')

python python$$java java$$c c$$100 100$$300 300$$

***for-else loop***

---> 'else' in 'for' loop is to check if the loop was exicuted fully or if it was stopped midway by **break** function.

In [ ]:
for i in list(range(11)):
  if i == 5:     ## Break stopes the for loop when condition becomes true.
    break
  else:
    print(i)
else:
  print('loop executed perfectly w/o break')   ## Else is executed only if for loop is excuted w/o break.

0
1
2
3
4

In [ ]:
for i in list(range(11)):
  if i == 15:
    break
  else:
    print(i)
else:
  print('loop executed perfectly w/o break')   ## Else is executed only if for loop is excuted w/o break.

0
1
2
3
4
5
6
7
8
9
10
loop executed perfectly w/o break

***while loop***

---> Loop runs untill condition is true.
                                  
                                  while condition:
                                        statement

In [ ]:
x = 1           # Initiation
while x <= 10:  # True condition
  print(x)
  x+=1          # Increment/Decriment

1
2
3
4
5
6
7
8
9
10

In [ ]:
choice = input("Do you want to run again[yes|no]")
while choice != 'no':
  print("welcome to python")

Do you want to run again[yes|no]no

***LOOP CONTROL STEATEMENTS***

1. Break ---> To terminate loop.
2. Continue ---> To skip Condition if true.

***break***

---> To terminate loop if condition becomes true.

In [ ]:
prod_list = ['gold', 'titanium', 'silver', 'iron', 'copper']
for i in prod_list:
  if i == 'silver':   # As this condition becomes true the for loop terminates.
    break
  else:
    print(f'processing {i}')

processing gold
processing titanium

In [ ]:
prod_list = ['gold', 'titanium', 'iron', 'silver', 'copper']
for i in prod_list:
  if i == 'silver':   # As this condition becomes true the for loop terminates.
    break
  else:
    print(f'processing {i}')

processing gold
processing titanium
processing iron

In [ ]:
p = [12, 13, 19, 12, 100, 16, 11, 13, 15, 16]
for i in p:
  if i > 19:
    break
  else:
    print(i)

12
13
19
12

***continue***

---> To skip the step (condition) if condition becomes true.

In [ ]:
pr_id = [101, 102, 109, 107, 103, 104, 110, 111, 105, 104]
for i in pr_id:
  if str(i)[0:2] == '11':
    continue
  else:
    print(i)

101
102
109
107
103
104
105
104

In [ ]:
pr_id = [101, 102, 109, 107, 103, 104, 110, 111, 105, 104]
for i in pr_id:
  if i >= 110:
    continue
  else:
    print(i)

101
102
109
107
103
104
105
104

***pass***

---> If we know that we need a if or for but dont have logic yet, we can add that statement w/o locic and it wont give an error.

In [ ]:
for i in range(10):

SyntaxError: ignored

In [ ]:
for i in range(10): # no error
  pass

***nested for loop***

---> for loop in for loop.

---> It essentially makes table of loop results

---> **Outer for** makes **Rows**

---> **Inner for** makes **Columns**

![image.png]()

In [ ]:
for i in range(4):
  for j in range(4):
    print('i =', i,' j =', j)
  print()

i = 0  j = 0
i = 0  j = 1
i = 0  j = 2
i = 0  j = 3

i = 1  j = 0
i = 1  j = 1
i = 1  j = 2
i = 1  j = 3

i = 2  j = 0
i = 2  j = 1
i = 2  j = 2
i = 2  j = 3

i = 3  j = 0
i = 3  j = 1
i = 3  j = 2
i = 3  j = 3

In [ ]:
for i in range(4):
  for j in range(i+1):
    print('*',end='')
  print()

*
**
***
****

In [ ]:
for i in range(5):
  for j in range(1,i+1):
    print(j,end='')
  print()

1
12
123
1234

In [ ]:
for row in range(7):
  for col in range(5):
    if row == 0 and col in {1,2,3}:
      print('*',end=' ')
    elif row in {1,2,4,5,6} and col in {0,4}:
      print('*',end=' ')
    elif row == 3:
      print('*',end=' ')
    else:
      print(' ',end=' ')
  print(' ')

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [ ]:
for row in range(7):
  for col in range(5):
    if row in {0,6} and col in {1,2}:
      print("*",end=" ")
    elif row in {1,5} and col == 3:
      print("*",end=" ")
    elif row in {0,1,2,4,5,6} and col == 0:
      print("*",end=" ")
    elif row in {2,4} and col == 3:
      print(" *",end=" ")
    elif row == 3 and col in {0,1,2,3}:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

* * *
*     *
*      *
* * * *
*      *
*     *
* * *

In [ ]:
for row in range(7):
  for col in range(5):
    if row in {0,6} and col in {1,2,3}:
      print("*",end=" ")
    elif row in{0,1,2,3,4,5,6} and col == 0:
      print("*",end=" ")
  print(" ")

* * * *
*
*
*
*
*
* * * *