**DATA TYPES**

INTEGER
    digit values

syntax---int()

In [1]:
a = 10

In [2]:
print('a')

a

In [13]:
print(a)

10

**can't find index of int variable**

In [3]:
a.index(1)

AttributeError: ignored

In [4]:
b = 50
c = 'a' * 'b'

TypeError: ignored

In [5]:
c = int('a') * int('b')

ValueError: ignored

In [12]:
c = int(a) * int(b)
print(c)

500

**float**

if we wrongly identify float as an integer then python will consider value only before decimal point.

In [15]:
a = 12.35
b = 8
c = int(a) * int(b)
print(c)  # result shows as c = 96 which is clearly wrong

96

**can represent float as an integer but not integer as float**

In [16]:
c = float(a) * float(b)
print(c)

98.8

**COMPLEX**

number wich includs imaginary number

Representation "j"

In [19]:
a = 10+20j
b = 10
c = complex(a) * int(b)
d = complex(a) + int(b)
e = complex(a) - int(b)
f = complex(a) / int(b)
print(c)
print(d)
print(e)
print(f)

(100+200j)
(20+20j)
20j
(1+2j)

can't convert complex in to integer

In [18]:
c = int(a) * int(b)
print(c)

TypeError: ignored

### **Boolean**

**True** or **False**

in python T in True and F in False is always capital

in python False = 0 & True = 1

In [60]:
x = True + True # 1 + 1 = 2
y = True - True # 1 - 1 = 0
z = True * False # 1 * 0 =0
xx = 152 * True # 152 * 1 = 152
yy = 152 * False # 152 * 0 = 0

print(x, y, z, xx, yy,)

2 0 0 152 0

In [27]:
a = 10
b = 20
c = 10

In [29]:
a == b

False

In [30]:
a == c

True

In [31]:
b == c

False

In [32]:
a != b

True

In [33]:
a < b

True

In [34]:
a > b

False

In [35]:
b < c

False

In [37]:
b > c

True

**PRINT FUNCTION**

represention -- **print()**

    PARAMETERS
        **END** -- **end**
        To eliminate or add seprate lines for diffrent print functions (press enter after seprate print function)

        **seprate** -- **sep**  
        To seprate the results of same print functions with any charecter

In [45]:
a = 10+20j
b = 10
c = complex(a) * int(b)
d = complex(a) + int(b)
e = complex(a) - int(b)
f = complex(a) / int(b)
g = complex(a) + int(b) - complex(a)
print(c)
print(d)
print(e)
print(f)
print(g)

(100+200j)
(20+20j)
20j
(1+2j)
(10+0j)

In [50]:
print(c,end='') # end with nothing
print(d,end='   ') # end with three spaces
print(e,end='_') # end with under score
print(f,end='&&&') # end with &
print(g,end='***') # end with *

(100+200j)(20+20j)   20j_(1+2j)&&&(10+0j)***

In [52]:
print(c, d, e, f, g)

(100+200j) (20+20j) 20j (1+2j) (10+0j)

In [56]:
print(c, d, e, f, g,sep='',end='')
print(c, d, e, f, g,sep='   ',end='\2')
print(c, d, e, f, g,sep='***')
print(c, d, e, f, g,sep='&&&')

(100+200j)(20+20j)20j(1+2j)(10+0j)(100+200j)   (20+20j)   20j   (1+2j)   (10+0j)(100+200j)***(20+20j)***20j***(1+2j)***(10+0j)
(100+200j)&&&(20+20j)&&&20j&&&(1+2j)&&&(10+0j)