**LIST**

Represented by [ ]

**LIST is an ordered datatype**

Types
1.   HOMOGENOUS LIST --- All elements of same catagery
2.   HETROGENOUS LIST --- Elements of multiple types

List is a collection of elements

In [ ]:
py_list = [] # Empty List

py_list_homo = [1, 2, 500] # Homogenous List

py_list_hetro = [123, 58.96, 'python', 5+6j, True, False] # Hetrogenous List

In [ ]:
print(py_list)

[]

In [ ]:
print(py_list_homo)

[1, 2, 500]

In [ ]:
print(py_list_hetro)

[123, 58.96, 'python', (5+6j), True, False]

**List**

list is **Mutable** or **Unhashable**

 **MUTABLE**
 ----> Can change original structure at any point.

1.   Insert
2.   Delete
3.   Update

To change list syntax is **list_name.method**

**INDEXING**

----> Every Element in list has a position value starting with 0 (zero)

**Types**
1.   Forword indexing
2.   Reverse indexing

In [ ]:
# Forword indexing  0  1  2  3   4    5
               p = [1, 3, 5, 50, 98, 125]
# Reverse indexing -6 -5 -4  -3  -2   -1

**Ordered** data type

---> we can call any element of list by index number

In [ ]:
py_list = ['python', 'java', 'c', 'c++', 'hadoop', 'aws']

FORWORD INDEXING
                
                   0        1      2     3       4        5

   ` **py_list = ['python', 'java', 'c', 'c++', 'hadoop', 'aws']**`

REVERSE INDEXING

                  -6        -5    -4    -3       -2      -1

In [ ]:
print(py_list[3])

c++

In [ ]:
print(py_list[-1])

aws

**LEN()**

---> To find length of the list

In [ ]:
print(py_list)

['python', 'java', 'c', 'c++', 'hadoop', 'aws']

In [ ]:
print(len(py_list)) # 6 elements in the list

6

In [ ]:
print(py_list[len(py_list)-6]) # lenth = 6 - 6 = 0 (element at index 0)

python

In [ ]:
print(py_list[len(py_list)-8]) # lenth = 6 - 8 = -2 (element at index -2)

hadoop

**SLICING**

To access part of list

NOY YET TOTALLY TOUGHT

In [ ]:
print(py_list)

['python', 'java', 'c', 'c++', 'hadoop', 'aws']

In [ ]:
print(py_list[1:4]) # index 1 (included) to index 4 (not included)

['java', 'c', 'c++']

In [ ]:
print(py_list[:]) # total list

['python', 'java', 'c', 'c++', 'hadoop', 'aws']

In [ ]:
print(py_list[0:-1]) # index 0 (included) to index -1 (not included)

['python', 'java', 'c', 'c++', 'hadoop']

In [ ]:
print(py_list[1:4]) # index 1 (included) to index 4 (not included)

['java', 'c', 'c++']

**LIST METHODS**

1. Insert   **.insert(index no., element)** ---> To insert an element at desired index position.
2. Append   **.append(element)** ---> To add element at the end of the list.
3. Clear    **.clear()**  ---> To clear all elements in the list.
4. Copy     **.copy()** ---> To make deep copy of the list.
5. Count    **.count(element)** ---> To count the number of occurance.
6. Extend   **.extend([elements])** ---> To add multiple elements to list at once.
7. Index    **.index(element)** ---> To find index of element in list.
8. Pop      **.pop(index no.)** ---> To remove and store element.
9. Remove   **.remove(element)** ---> To remove the element.
10. Reverse **.reverse()** ----> To reverse the elements in the list.
11. Sort    **.sort()** ---> To sort (assending/desending) elements in the list.

**INSERT**

**name of list.insert(index no., element)** ---> To insert an element at desired index position.

usually in real time we use this rarely, usually one needs to add element at end of the list and for that python has special method append.

In [ ]:
print(py_list)

['python', 'java', 'c', 'c++', 'hadoop', 'aws']

In [ ]:
py_list.insert(5,'spark')
print(py_list)

['python', 'java', 'c', 'c++', 'hadoop', 'spark', 'aws']

In [ ]:
py_list.insert(-3,'google')
print(py_list)

['python', 'java', 'c', 'c++', 'google', 'hadoop', 'spark', 'aws']

 **APPEND**
 
 **name of list.append(element)** ---> To add element at the end of the list.

In [ ]:
print(py_list)

['python', 'java', 'c', 'c++', 'google', 'hadoop', 'spark', 'aws']

In [ ]:
py_list.append('pro-e')
print(py_list)

['python', 'java', 'c', 'c++', 'google', 'hadoop', 'spark', 'aws', 'pro-e']

**CLEAR**

**name of list.clear()**  ---> To clear all elements in the list.

In [ ]:
print(py_list)

['python', 'java', 'c', 'c++', 'google', 'hadoop', 'spark', 'aws', 'pro-e']

In [ ]:
py_list.clear()
print(py_list) # whole list is cleared, list is empty.

[]

**COPY**

There are two types of copy methods in python.
1. SHALLOW COPY ----> copy 
---------
2. DEEP COPY

***DEEP COPY***

In [ ]:
py_list = ['python', 'java', 'c', 'c++', 'google', 'hadoop', 'spark', 'aws']
print(py_list)

['python', 'java', 'c', 'c++', 'google', 'hadoop', 'spark', 'aws']

In [ ]:
p = py_list.copy()
print(p)

['python', 'java', 'c', 'c++', 'google', 'hadoop', 'spark', 'aws']

In [ ]:
print(p[6])

spark

In [ ]:
p.append('pro-e')  # making the change in new copy does not affect the original & vice a versa
print(p)
print(py_list)

['python', 'java', 'c', 'c++', 'google', 'hadoop', 'spark', 'aws', 'pro-e']
['python', 'java', 'c', 'c++', 'google', 'hadoop', 'spark', 'aws']

***SHALLOW COPY***

In [ ]:
p1 = [1, 52, 545, 544, 9865]

In [ ]:
p11 = p1

In [ ]:
print(p1)
print(p11)

[1, 52, 545, 544, 9865]
[1, 52, 545, 544, 9865]

In [ ]:
p1.append(900)

In [ ]:
print(p1)   # change to one list is changes both lists
print(p11)

[1, 52, 545, 544, 9865, 900]
[1, 52, 545, 544, 9865, 900]

**COUNT**

**name of file.count(element)** ---> To count the number of occurance of elements in the list.

In [ ]:
p = [1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 5, 5, 9, 9, 9, 9, 11,]

In [ ]:
print(p.count(1))
print(p.count(2))
print(p.count(5))
print(p.count(9))
print(p.count(11))

7
3
2
4
1

In [ ]:
g = [1, 2, 'python', 'java', True, False, 0]

In [ ]:
print(g.count(1))  # True is boolean counts as 1
print(g.count(2))
print(g.count('python'))
print(g.count('java'))
print(g.count(0))  # False is boolean counts as 0

2
1
1
1
2

**EXTEND**

**file name.extend([elements])** ---> To add multiple elements to list at once.

* If we use **file_name.extend()** we can add only one element in the said file  

* if we use **file_name.extent([ ])** then this way we can and multiple elements without creating ***nested list***.

***NESTED LIST***
----> list within the list [1, 2, 5, [5, 35, 6], 54]

In [ ]:
print(g)

[1, 2, 'python', 'java', True, False, 0]

In [ ]:
g.extend([54654, 64654, 789774])

In [ ]:
print(g)

[1, 2, 'python', 'java', True, False, 0, 54654, 64654, 789774]

In [ ]:
g.append([25, 54, 365])
print(g)
# result --> [1, 2, 'gjhg', 'uhuh', True, False, 0, 54654, 64654, 789774, [25, 54, 365]]
#                                                                          nested list

[1, 2, 'python', 'java', True, False, 0, 54654, 64654, 789774, [25, 54, 365]]

Access elements in the nested list

[1, 2, 'gjhg', 'uhuh', True, False, 0, 54654, 64654, 789774, [25, 54, 365]]

                                                            Nested list
                                                          
In main list nested list is considered as one element

In [ ]:
print(len(g)) # main elements = 10 plus one nested list = 11

11

In [ ]:
print(g[10])

[25, 54, 365]

In [ ]:
print(g[10][1])

54

**Indexing of nested list**

     0  1    2        3      4     5    6    7      8       9         10
    [1, 2, 'gjhg', 'uhuh', True, False, 0, 54654, 64654, 789774, [25, 54, 365]]

In [ ]:
h = [1, 11, 12, 45, 55, 65, 78, 98, [56, 79, 73, 15, 62]]

In [ ]:
print(h[8][3]) # To access 15

15

**INDEXING**

**name of file.index(element)** ---> To find index of element in list

In [ ]:
print(h.index(98))

7

In [ ]:
print(h.index(73)) # Can't find the index of nested list elements

ValueError: ignored

**POP**

**name of file.pop(index no.)** ---> To remove and store element.

In [ ]:
h.pop(7)
print(h) # index 7 (98) element is popped

[1, 11, 12, 45, 55, 65, 78, [56, 79, 73, 15, 62]]

In [ ]:
temp = h.pop(7)
print(temp) # index 7 element a nested listed got stored into temp

[56, 79, 73, 15, 62]

In [ ]:
print(h)

[1, 11, 12, 45, 55, 65, 78]

In [ ]:
h.append(temp) # can add popped element to list anytime

In [ ]:
print(h)

[1, 11, 12, 45, 55, 65, 78, [56, 79, 73, 15, 62]]

**REMOVE**

**name of file.remove(element)** ---> To remove the element, removel is permanant.

In [ ]:
h.remove(78)
print(h)

[1, 11, 12, 45, 55, 65, [56, 79, 73, 15, 62]]

In [ ]:
h.remove(62)  # Can't remove elements in nested file elements
print(h)

ValueError: ignored

**REVERSE**

**file name.reverse()** ----> To reverse the elements in the list.

In [ ]:
h.reverse()
print(h)

[[56, 79, 73, 15, 62], 65, 55, 45, 12, 11, 1]

In [ ]:
h.reverse
print(h)

[[56, 79, 73, 15, 62], 65, 55, 45, 12, 11, 1]

In [ ]:
h[0].reverse
print(h)

[[56, 79, 73, 15, 62], 65, 55, 45, 12, 11, 1]

**SORT**

**file name.sort()** ---> To sort elements in the list in assending order. default

In [ ]:
print(h)

[[56, 79, 73, 15, 62], 65, 55, 45, 12, 11, 1]

In [ ]:
h.sort() # can not sort list with nested list inside
print(h)

TypeError: ignored

In [ ]:
j = [1, 5, 56, 98, 35, 2, 63, [326, 32, 66], 0]
print(j)

[1, 5, 56, 98, 35, 2, 63, [326, 32, 66], 0]

In [ ]:
j.sort() # can't sort the list with nested list inside it.
print(j)

TypeError: ignored

In [ ]:
j[7].sort()
print(j)

[1, 2, 5, 35, 56, 63, 98, [32, 66, 326], 0]

In [ ]:
l = [1, 2, 5, 35, 76, 58, 12, 0, 32]
print(l)

[1, 2, 5, 35, 76, 58, 12, 0, 32]

In [ ]:
l.sort() # Default assending
print(l)

[0, 1, 2, 5, 12, 32, 35, 58, 76]

In [ ]:
l.sort(reverse= True) # For desending
print(l)

[76, 58, 35, 32, 12, 5, 2, 1, 0]

In [ ]:
l.sort(reverse= False) # For assending with reverse
print(l)

[0, 1, 2, 5, 12, 32, 35, 58, 76]

***MINIMUM*** **&**  ***MAXIMUM***

To find minimum(smallest) and maximum(largest) elements in list, tuple

**min(name of list)**
**max(name of list)**

In [6]:
j = [1, 5, 56, 98, 35, 2, 63, [326, 32, 66], 0]
print(j)

[1, 5, 56, 98, 35, 2, 63, [326, 32, 66], 0]

In [7]:
print(min(j)) # can't ferform in nested list formate
print(max(j))

TypeError: ignored

In [8]:
j = [1, 5, 25, 54, 26, 345]
print(j)

[1, 5, 25, 54, 26, 345]

In [9]:
print(min(j))
print(max(j))

1
345