# **Operations in python**

**Unary opreator** ---> Operation performed on only one Oparand.

**Binary operator** ---> Operation performed on two operand.

1. Arithmatic Operator
2. Relational Operator
3. Assignment Operator
4. Membership Operator
5. Turnary Operator
6. Bitwise Operator

**Arithmatic Operators**

1. **plus & minus** **'+'** & **'-'** 
                    
                    ---> Addition And substraction
                             
                             int + int
                            float + float
                            int + float
                            str + str
**str + str ---> Concatination**

**str - str ---> Error**

**Can't do between str & int**


2. **Multiplication & Division**  **'*'**  &  **'/'**

---> can't do it between str-int or str-str

In [1]:
a = 10 # Int + Int
b = 20
c = a+b
d = a-b
print(c)
print(d)

30
-10

In [2]:
a = 2.56 # Float + Float
b = 3.82
c = a+b
d = a-b
print(c)
print(d)

6.38
-1.2599999999999998

In [3]:
a = 2.23 # Float + Int
b = 3
c = a+b
d = a-b
print(c)
print(d)

5.23
-0.77

In [4]:
a = 'python' # Str + Str
b = 'java'
c = a+b
print(c)

pythonjava

In [5]:
a = 'python' # Str - Str ---> Error
b = 'java'
d = a-d
print(d)

TypeError: ignored

In [ ]:
a = 10
b = 20
c = 5.26
d = 6.23

e = a*b
f = a/b
g = a*c
h = c*d

print(e)
print(f)
print(g)
print(h)

**Floor Division**

**//**

---> If division result is in decimal value then floor division only gives nearest lower int value.

---> If dividion result is int then it performes as nornmal division.

In [ ]:
a = 10
b = 20
c = 5.26
d = 6.23

e = b/a
f = b//a
g = d/c
h = d//c

print(e)
print(f)
print(g)
print(h)

In [ ]:
print(75/13)
print(75//13)

**Modulus**

**%**

---> To find reminder of division.

In [6]:
5%2

1

In [7]:
758/655

1.1572519083969466

**Exponant**

**

---> To find out power.

In [8]:
2**2

4

In [9]:
5**8

390625

**Relational Operator**

---> To compair two variables.

    1. Greater than >
    2. Less than    <
    3. Greater than or Equal to >=
    4. Less than or Equal to <=
    5. Is Equal to ==
    6. Not Equal to !=

In [10]:
a = 10
b = 20
c = 10

print('a>b =',a>b)
print('a<b =',a<b)
print('a>=b =',a>=b)
print('a<=b =',a<=b)
print('a==b =',a==b)
print('a==c =',a==c)
print('a!=b =',a!=b)
print('a!=c =',a!=c)

a>b = False
a<b = True
a>=b = False
a<=b = True
a==b = False
a==c = True
a!=b = True
a!=c = False

**Logical Operations**

***AND, OR, NOT***

                                Truth Table
     input                 output
    x      y       x and y     x or y
    0      0          0          0
    0      1          0          1
    1      0          0          1
    1      1          1          1

    input            output
    x                 x not
    0                  1
    1                  0

***AND***

---> If and only if all the conditions are True then the output is True.

In [11]:
a = 10
b = 20
c = 30

In [12]:
print('a = ',a)
print('b = ',b)
print('c = ',c)

a =  10
b =  20
c =  30

In [13]:
print(a < b and b < c) # First condition is true and second is true.
print(a < b and b > c) # First condition is true and second is false.
print(a > b and b > c) # First condition is false and second is false.

True
False
False

In [14]:
print('AND')
print('True and True ---> ',True and True)
print('True and False ---> ',True and False)
print('False and True ---> ',False and True)
print('False and False ---> ',False and False)

AND
True and True --->  True
True and False --->  False
False and True --->  False
False and False --->  False

***OR***

---> If one of the conditions are True then output is true.

In [15]:
print(a < b or b < c) # First condition is true and second is false.
print(a > b or b < c) # First condition is false and second is true.
print(a > b or b > c) # First condition is false and second is false.

True
True
False

In [16]:
print("OR")
print('True or True ---> ',True or True)
print('True or False ---> ',True or False)
print('False or True ---> ',False or True)
print('False or False ---> ',False or False)

OR
True or True --->  True
True or False --->  True
False or True --->  True
False or False --->  False

***NOT***

---> Unioperator (needs only one input)

---> Inverse of any desired output.

In [17]:
not a>b #clearly a is less than b, so not operator is inverse of desired result

True

In [18]:
print('not True ---> ',not True)
print('not False ---> ',not False)

not True --->  False
not False --->  True

***Assignment Operator***

         = Equal to Operator
         += Increament & Assignment Operator
         -= Decriment & Assignment Operator
         *= Multiplication & Assignment Operator
         /= Division & Assignment Operator
         **= Exponant & Assignment Operator
         //= Floor division & Assignment Operator

**= Equal to Operator**

In [19]:
a = 10
print(a)

10

**+= Increament & Assignment Operator**

In [20]:
a+= 1
print(a)

11

In [21]:
a+= 2
print(a)

13

**-= Decriment & Assignment Operator**

In [22]:
a-= 1
print(a)

12

In [23]:
a-= 3
print(a)

9

***= Multiplication & Assignment Operator**

In [24]:
a*= 2
print(a)

18

In [25]:
a*= 3
print(a)

54

**/= Division & Assignment Operator**

In [26]:
a/= 2
print(a)

27.0

In [27]:
a/= 9
print(a)

3.0

****= Exponant & Assignment Operator**

In [28]:
a**= 2
print(a)

9.0

In [29]:
a**= 3
print(a)

729.0

**//= Floor division & Assignment Operator**

In [30]:
a//= 9
print(a)

81.0

In [31]:
a//= 8
print(a)

10.0

***Membership Operator***

**IN , NOT IN**

**IN** ---> To check if the element is member of given sequence.

---> True if element is member.

**NOT IN** ---> To check if the element is member of given sequence.

---> True if element is not member.

In [32]:
a = [1, 2, 3, 5, 4, 8]
print(a)

[1, 2, 3, 5, 4, 8]

In [33]:
print(25 in a)

print(5 in a)

False
True

In [34]:
print(25 not in a)
print(5 not in a)

True
False

In [35]:
if 25 in a:
  print('25 is in a')
else:
  print('25 is not in a')

25 is not in a

***Identity Operator***

---> To check if the id of variable is same or not.

**'=='** Is a value based operator.

**'is'** Is a **Refrance based** operator.

In [36]:
a = 10
b = 10
print(id(a))
print(id(b))

94419247016736
94419247016736

In [37]:
print(a==b)
print(a is b)

True
True

In [40]:
a = 300
b = 300
print(id(a))
print(id(b))

140245741234544
140245741235856

In [41]:
print(a==b)
print(a is b)

True
False

***Bitwise Operator***

**& , | , << , >>**

---> To manipulate the binary values.

**&** ---> Same as logical and.
      
  ---> If both binary values are 1 then 1 else 0.

**|** ---> Same as logical or.
  
  ---> If one of the values are 1 then 1 if both are 0 then 0.

**<<** ---> Left shift

  ---> Adds 0's on the right side of binary value.
  ---> Value is shifted towards left

**>>** ---> Right shift

  ---> Adds 0's on the left side of binary value.

  ---> Value is shifted towards right.

**&** ---> Same as logical and.
      
  ---> If both binary values are 1 then 1 else 0.

     a = 10                  2^7 2^6 2^5 2^4 2^3 2^2 2^1 2^0
     b = 20                  128 64   32  16  8   4   2   1
                    10-->                  0  1   0   1   0
                    20-->                  1  0   1   0   0
          10&20 == a&b-->                  0  0   0   0   0 == 0
     a = 10
     b = 30
                    10-->                  0   1   0   1   0
                    30-->                  1   1   1   1   0
          10&30 == a&b-->                  0   1   0   1   0 == 10

In [43]:
a = 10
b = 20
print(a & b)

0

In [45]:
a = 10
b = 30
print(a & b)

10

**|** ---> Same as logical or.
  
  ---> If one of the values are 1 then 1 if both are 0 then 0.
  
     a = 10                  2^7 2^6 2^5 2^4 2^3 2^2 2^1 2^0
     b = 20                  128 64   32  16  8   4   2   1
                    10-->                  0  1   0   1   0
                    20-->                  1  0   1   0   0
          10|20 == a|b-->                  1  1   1   1   0  == 30
     a = 10
     b = 30
                    10-->                  0   1   0   1   0
                    30-->                  1   1   1   1   0
          10|30 == a|b-->                  1   1   1   1   0 == 30

In [50]:
a = 10
b = 20
print(a|b)

30

In [51]:
a = 10
b = 30
print(a | b)

30

**<<** ---> Left shift

  ---> Adds 0's on the right side of binary value.
  ---> Value is shifted towards left

                     2^7 2^6 2^5 2^4 2^3 2^2 2^1 2^0
                      128 64   32  16  8   4   2   1
         a = 10-->                  0  1   0   1   0
         a<<2                   1   0  1   0   0   0 == 40
                               32      8             == 40

         a = 20-->                  1  0   1   0   0
        a << 20-->          1   0   1  0   0   0   0 == 80
                           64      16                == 80

In [57]:
a = 10
a<<2

40

In [58]:
a = 20
a<<2

80

**>>** ---> Right shift

  ---> Adds 0's on the left side of binary value.

  ---> Value is shifted towards right.

                     2^7 2^6 2^5 2^4 2^3 2^2 2^1 2^0
                      128 64   32  16  8   4   2   1
         a = 10-->                  0  1   0   1   0  discard these
         a>>2                          0   0   1   0   0   0 == 2

         a = 20-->                  1  0   1   0   0  discard these
         a >> 2-->                  0  0   1   0   1   0   0   0 == 5

In [59]:
a = 10
a>>2

2

In [60]:
a = 20
a>>2

5