***SET***

Reprasented by curly brackets {}

1.   **Mutable** data type, can change like insert, update.
2.   **Set** is a collection of unique elements (no duplicate elements)
3.   Indxing & Slicing not possible.
4.   Can perform various operations like union, intersection, diffrence.

***How to Create Set***

1.   py_set = {atlest one element}

2.   py_set = set()

In [1]:
py_set = {}
print(type(py_set))

<class 'dict'>

In [2]:
py_set1 = {10}
py_set2 = {10,}
print(type(py_set1))
print(type(py_set2))

<class 'set'>
<class 'set'>

In [3]:
py_set4 = set()
print(type(py_set4))

<class 'set'>

In [4]:
a = {1, 2, 3, 4, 5}
b = {2, 3, 100, 300}
print(a)
print(b)

{1, 2, 3, 4, 5}
{2, 3, 100, 300}

**Operations / Functions of SET**


1.  **Add** ---> **name of set.add(element)** ---> To add a single element to the set randomly.


2.  **Update** ---> **name of set.update({one or multiple elements})** ---> To update/add multiple elements to the elements at once.


3.  **Copy** ---> **name of list.copy()** ---> To copy one set in other. default **deep copy**


4.  **pop** ---> **name of list.pop() ---> To remove random element from list.


5.  **Remove** ---> **name of list.remove(element)** ---> To remove specific element from list.


6.  **Discard** ---> **name of list.discard(element)** ---> To discard a specific element.


7.  **Union** --> **name of set1.union(name of list2)** ---> Only the unique elements between sets.


8.  **Intersection** ---> **name of set1.intersection(name of list2)** ---> only elements which are common in both sets.


9.  **Diffrence** ---> **name of set1.diffrence(name of list2)** ---> Only the elements whinch are prasent in set1 but not in set2.


10. **Symmetric Diffrence** ---> **name of set1.symmetric_diffrence(name of list2)** ---> Only elements which are prasent in either set but not both.


11.  **Is super set** ---> **name of set1.issuperset(name of list2)** ---> If set1 super set of set2 then **True** else **False**. Only boolean results.


12.  **Is sub set** ---> **name of set1.issubset(name of list2)** ---> If set1 is subset of set2 then **True** else **False**. only boolean results.


13.  **Disjoint** ---> **name of set1.disjoint(name of list2)** ---> If no element is common between set1 and set2 then **True** else **False**. only boolean results.

14.  **Intersection Update** ---> **name of set1.intersection_update(name of list2)** ---> selects only elements which are common in both sets and saves those elements in set1 (overwrights set1).

15.  **Diffrence Update** ---> **name of set1.diffrence_update(name of list2)** ---> Only the elements whinch are prasent in set1 but not in set2 and saves those elements in set1 (overwrights set1).

16.  **Symmetric Diffrence** ---> **name of set1.symmetric_diffrence_update(name of list2)** ---> Only elements which are prasent in either set but not both and saves those elements in set1 (overwrights set1).

**Add**

**name of set.add(element)** 

--->To add a single element to the set randomly.

In [5]:
a = {1, 2, 3, 4, 5, 'python'}
print(a)

{1, 2, 3, 4, 5, 'python'}

In [6]:
a.add(100)
print(a)

{1, 2, 3, 4, 5, 100, 'python'}

In [7]:
a.add(200, 300) # Can add only one element

TypeError: ignored

**Update**

**name of set.update({one or multiple elements})**

---> To update/add multiple elements to the elements at once.

In [ ]:
a.update({200, 300, 'c++'})
print(a)

**Copy**

**name of list.copy()**

---> To copy one set in other.
**default deep copy.**

In [ ]:
a1 = a.copy()
print(a)
print(a1)

In [8]:
a1.add(500) # deep copy
print(a)
print(a1)

NameError: ignored

**METHODS OF DELETING ELEMENT FROM SET**

1.  **POP**
---> Deletes element randomly.

2.  **Remove**
---> If element is present then it will delete the given element.

---> If element is not present then it will show the error **(key error)**.

3.  **Discard**
---> If element is present then it will delete the element.

---> if element is not present it eill do nothing (no errer).

**Pop**

**name of list.pop()**

---> To remove & store random element from list.

In [9]:
a2 = a.pop() # Can remove and store element randomly 
print('a = ', a)
print('a2 = ', a2)

a =  {2, 3, 4, 5, 100, 'python'}
a2 =  1

**Remove**

**name of list.remove(element)**

---> To remove specific element from list.

In [10]:
a.remove(300)
print(a)

KeyError: ignored

In [11]:
a.remove(200, 100) # Can't remove multiple elements at once.

TypeError: ignored

In [12]:
a.remove(1000) # if tried to remove element which is not there it will give type error.
print(a)

KeyError: ignored

**Discard**

**name of list.discard(element)**

---> To discard a specific element.

In [13]:
a.discard(200)
print(a)

{2, 3, 4, 5, 100, 'python'}

In [14]:
a.discard(1000) # no error
print(a)

{2, 3, 4, 5, 100, 'python'}


**Union**

**name of set1.union(name of list2)**

---> Only the unique elements between sets.

In [15]:
a = {10, 20, 30, 40, 50, 60}
b = {20, 40, 60,}
print('a =', a)
print('b =', b)

a = {40, 10, 50, 20, 60, 30}
b = {40, 20, 60}

In [16]:
c = a.union(b) # Only unique elements in set a and set b.
print('c =', c)

c = {40, 10, 50, 20, 60, 30}

**Intersection**

**name of set1.intersection(name of list2)**

---> Only elements which are common in both sets.

In [17]:
print('a =', a)
print('b =', b)

a = {40, 10, 50, 20, 60, 30}
b = {40, 20, 60}

In [18]:
d = a.intersection(b) # Only elements which are common in both
print(d)

{40, 20, 60}

In [19]:
e = b.intersection(a)
print(e)

{40, 20, 60}

**Diffrence**

**name of set1.diffrence(name of list2)**

---> Only the elements whinch are prasent in set1 but not in set2.

In [20]:
print(a)
print(b)

{40, 10, 50, 20, 60, 30}
{40, 20, 60}

In [21]:
f = a.difference(b) # Only the elements whinch are prasent in set1 but not in set2
print(f)

{10, 50, 30}

**Symmetric Diffrence**

**name of set1.symmetric_diffrence(name of list2)**

---> Only elements which are prasent in either set but not both.

In [22]:
print(a)
print(b)

{40, 10, 50, 20, 60, 30}
{40, 20, 60}

In [23]:
g = a.symmetric_difference(b) # Only elements which are prasent in either set but not both.
print(g)

{10, 50, 30}

**Is super set**

**name of set1.issuperset(name of list2)**

---> If set1 super set of set2 then True else False. Only boolean results.

In [24]:
print(a)
print(b)

{40, 10, 50, 20, 60, 30}
{40, 20, 60}

In [25]:
h = a.issuperset(b) # all the elements of set b are in set a (a is super set of b)
print(h)

True

In [26]:
i = b.issuperset(a) # all elements of b are not in a (b is not superset of a)
print(i)

False

**Is sub set**

**name of set1.issubset(name of list2)**

---> If set1 is subset of set2 then True else False. only boolean results.

In [27]:
print(a)
print(b)

{40, 10, 50, 20, 60, 30}
{40, 20, 60}

In [28]:
j = a.issubset(b) # all the elements in a are not in b ( a is not subset of b )
print(j)

False

In [29]:
k = b.issubset(a) # all the elements in b are also in a ( b is subset of a)
print(k)

True

**Disjoint**

**name of set1.disjoint(name of list2)**

--->If no element is common between set1 and set2 then True else False. only boolean results.

In [30]:
print(a)
print(b)

{40, 10, 50, 20, 60, 30}
{40, 20, 60}

In [31]:
l = a.isdisjoint(b) # there are common elements between a and b
print(l)

False

In [32]:
y = {1, 2, 3, 4, 5}
z = {6, 7, 8, 9, 10}
print(y)
print(z)

{1, 2, 3, 4, 5}
{6, 7, 8, 9, 10}

In [33]:
m = y.isdisjoint(z)
print(m)

True

**Intersection Update**

**name of set1.intersection_update(name of list2)**

---> selects only elements which are common in both sets and saves those elements in set1 (overwrights set1).

In [34]:
print(a)
print(b)

{40, 10, 50, 20, 60, 30}
{40, 20, 60}

In [35]:
a.intersection(b)

{20, 40, 60}

In [36]:
print(a)
print(b)

{40, 10, 50, 20, 60, 30}
{40, 20, 60}

In [37]:
a.intersection_update(b)
print(a)
print(b)

{40, 20, 60}
{40, 20, 60}

**Diffrence Update**

**name of set1.diffrence_update(name of list2)**

---> Only the elements whinch are prasent in set1 but not in set2 and saves those elements in set1 (overwrights set1).

In [38]:
a = {10, 20, 30, 40, 50, 60}
b = {20, 40, 60,}
print('a =', a)
print('b =', b)

a = {40, 10, 50, 20, 60, 30}
b = {40, 20, 60}

In [39]:
a.difference(b)
print('a =', a)
print('b =', b)

a = {40, 10, 50, 20, 60, 30}
b = {40, 20, 60}

In [40]:
a.difference_update(b)
print('a =', a)
print('b =', b)

a = {10, 50, 30}
b = {40, 20, 60}

**Symmetric Diffrence**

**name of set1.symmetric_diffrence_update(name of list2)**

---> Only elements which are prasent in either set but not both and saves those elements in set1 (overwrights set1).

In [41]:
a = {10, 20, 30, 40, 50, 60}
b = {20, 40, 60,}
print('a =', a)
print('b =', b)

a = {40, 10, 50, 20, 60, 30}
b = {40, 20, 60}

In [42]:
a.symmetric_difference(b)
print('a =', a)
print('b =', b)

a = {40, 10, 50, 20, 60, 30}
b = {40, 20, 60}

In [43]:
a.symmetric_difference_update(b)
print('a =', a)
print('b =', b)

a = {10, 50, 30}
b = {40, 20, 60}