### ***STRING***

1.  Collection of character in some meaningful order.

2. Immutable data type (Can't change once defined).

3. Ordered data type (indexing possible).

***How to create / Define string***

1. Single **'Single quote'**.

2. Single **"Double quote"**.

3. Triple **'''Single quote'''**.

4. Triple **"""Double quote"""**.

In [1]:
a1 = 'python' # single single quote
print(type(a1))

<class 'str'>

In [2]:
a2 = '''python''' # Triple single quote
print(type(a2))

<class 'str'>

In [3]:
a3 = "python" # single double quote
print(type(a3))

<class 'str'>

In [4]:
a4 = """python""" # Triple double quote
print(type(a4))

<class 'str'>

In [11]:
a5 = ''python'' # Double single quote not allowed
print(type(a5))

SyntaxError: ignored

In [12]:
a6 = ""python"" #double double quote not allowed
print(type(a6))

SyntaxError: ignored

***Why triple single & triple double quotes ?***

In [13]:
a7 = 'python is very strong in web devlopment and ML it's having more DS'
print(a7) # python interpreter can't understand where single quote starts and where it ends.

SyntaxError: ignored

In [14]:
a8 = "python is very strong in web devlopment and ML it's having more DS"
print(a8)

python is very strong in web devlopment and ML it's having more DS

In [15]:
a9 = "python is very strong in web devlopment and ML it's having more DS"
print(a9)

python is very strong in web devlopment and ML it's having more DS

In [16]:
a10 = "python is very strong in "web devlopment" and ML it's having more DS"
print(a10) # python interpreter can't understand where double quote starts and where it ends.

SyntaxError: ignored

In [17]:
a11 = '''python is very strong in web devlopment and ML it's having more DS'''
print(a11)

python is very strong in web devlopment and ML it's having more DS

In [18]:
a12 = """python is very strong in web devlopment and ML it's having more DS"""
print(a12)

python is very strong in web devlopment and ML it's having more DS

***For multiline string only triple single or triple double quotes should be used***

In [19]:
a13 = '''Python is an interpreted high-level general-purpose programming language.
Pythons design philosophy emphasizes code readability with its notable use of significant indentation.
Its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.
Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including'''

***Indexing***

In [20]:
print(a12)

python is very strong in web devlopment and ML it's having more DS

In [21]:
print(a12[2])

t

In [22]:
print(a12[6])

In [23]:
print(a12[65])

S

In [24]:
print(a12[25])

w

In [25]:
print(a12[-1])

S

***FUNCTIONS IN PYTHON***

1. **Capitalize** **str_name.capitalize()**
       ---> First letter in string is capitalized every other tetter will be lowercased.
       ---> Does not update original string, new result can be stored in the new veriable.
2.  **Upper** **str_name.upper()**
        ---> Capitalize every letter in string.
        ---> Does not update original string, new result can be stored in the new veriable.
3.  **Lower** **str_name.lower()**
        ---> Lowercase every letter in the string.
        ---> Does not update original string, new result can be stored in the new veriable.
4.  **Replace** **str_name.replace('charecters to be replaced', replacing charecters)**
        ---> Replaces given charecters with replacing charecters.
        ---> letters must be adjecent to eachother.
        ---> Does not update original string, new result can be stored in the new veriable.
5.  **Count** **str_name.count('element')**
        ---> Count the number of occurance of perticular element.
6.  **Case fold** **str_name.casefold**
        ---> Only Upper case to Lower case conversion.
7.  **Swap case** **str_name.swapcase()**
        ---> From Upper case to Lower case & from Lower case to Upper case.
8.  **Ends with** **str_name.endswith(element)**
        ---> To check the string if the it ends with perticular charecter or charecters.
        ---> Only boolean values returned.
9.  **Starts with** **str_name.startswith(element)**
        ---> To check the string if the it starts with perticular charecter or charecters.
        ---> Only boolean values returned.
10.  **Split** **str_name.split(seprator_element,how many splits)**
         ---> To split the string in perticular manner.
         ---> Spllited elements are stored in list formate.
         ---> Default split is from left to right.
         ---> Default split whole string (if how many splits not given).
         
         str_name.rsplit(seprator_element,how many splits)
         ---> To split from Right to left.
11.  **Strip** **str_name.split()**
         ---> To remove whits spaces.
         ---> Default Removes spaces from both sides.

         str_name.lsplit()
         ---> Only strips from Left side.

         str_name.rsplit()
         ---> Only strips from Right side.
12.  **Find** **str_name.find(element)**
         ---> To find the index of perticular element.
         ---> Diffrent from indexing.
              ---> **Indexing** ---> can be forword (from left to right) or reverse (from right to left).
              ---> **Find** ---> can only be from left to right.
              ---> If element is not preasent **indexing** ---> error
                                                  **find** ---> -1
         ---> will return only 1st occurance of element.
13.  **Format** **'in what format'.format(elements)**
         ---> To print results in specific format.
         ---> {} (curly brackets) are called as place holders.
14.  **Partition** **str_name.partition(element)**
         ---> Alwaya shows three partitions.
              ---> 1st Before match.
              ---> 2nd Matched element.
              ---> 3rd After match.
         ---> Always shows results in Tuple.
         ---> If given partition element is not present it will make 
         whole string as 1st partition in tuple and 2nd and 3rd elements are empty.
         ---> Always checks from left to right.
         ---> If more than one partition are present it will take 
         1st element from left and partition as based an that.
15.  **Join** **"element".join(tuplt_name/list_name/dict_name)**
         ---> to join elements in list or tuple or dict or string together.

**Capitalize**

**str_name.capitalize()**

---> First letter in string is capitalized every other tetter will be lowercased.

---> Does not update original string, new result can be stored in the new veriable.

In [26]:
b = 'this is THe way'
print(b)

this is THe way

In [27]:
b.capitalize()

'This is the way'

In [28]:
print(b)

this is THe way

In [29]:
c = b.capitalize()
print(b)
print(c)

this is THe way
This is the way

**Upper**

**str_name.upper()**

---> Capitalize every letter in string.

---> Does not update original string, new result can be stored in the new veriable.

In [30]:
d = b.upper()

In [31]:
print(b)

this is THe way

In [32]:
print(d)

THIS IS THE WAY

**Lower**

**str_name.lower()**

---> Lowercase every letter in the string.

---> Does not update original string, new result can be stored in the new veriable.

In [33]:
e = b.lower()

In [34]:
print(b)

this is THe way

In [35]:
print(e)

this is the way

**Replace**

**str_name.replace('charecters to be replaced', replacing charecters)**

---> Replaces given charecters with replacing charecters.

---> letters must be adjecent to eachother.

---> Does not update original string, new result can be stored in the new veriable.

---> Python is case sensetive.

In [36]:
print(b)

this is THe way

In [37]:
f = b.replace('t','D')

In [38]:
print(f) # as python is case sensetive t is replaced but not T

Dhis is THe way

In [39]:
g = b.replace('THe','str')

In [40]:
print(g)

this is str way

**Count**

**str_name.count('element')**

--->Count the number of occurance of perticular element.

In [41]:
a = 'to count the number of occurances of perticular charecter'
print(a)

to count the number of occurances of perticular charecter

In [42]:
a.count('a')

3

In [43]:
a.count('e')

6

**Case fold**

**str_name.casefold**

---> Only Upper case to Lower case conversion.

In [44]:
a = 'Only uPPer case To lower Case'
print(a)

Only uPPer case To lower Case

In [45]:
a.casefold()

'only upper case to lower case'

**Swap case**

**str_name.swapcase()**

---> From Upper case to Lower case & from Lower case to Upper case.

In [46]:
a = ' From UPPER case to lower CASE & from LOWER case to upper Case'
print(a)

 From UPPER case to lower CASE & from LOWER case to upper Case

In [47]:
a.swapcase()

' fROM upper CASE TO LOWER case & FROM lower CASE TO UPPER cASE'

**Ends with**

**str_name.endswith(element)**

---> To check the string if the it ends with perticular charecter or charecters.

---> Only boolean values returned.

In [48]:
a = 'abc@gmail'
b = 'pqr@gmail.com'
c = 'xyz@gmail.com'
print(a)
print(b)
print(c)

abc@gmail
pqr@gmail.com
xyz@gmail.com

In [49]:
print(a.endswith('.com'))
print(b.endswith('.com'))
print(c.endswith('.com'))

False
True
True

**Starts with**

**str_name.startswith(element)**

---> To check the string if the it starts with perticular charecter or charecters.

---> Only boolean values returned.

In [165]:
a = 'card no. - yfgfgfwdkj'
b = 'pan no. - kugffhkjr'
c = 'card no. - igfirfgkrhfg'
print(a)
print(b)
print(c)

card no. - yfgfgfwdkj
pan no. - kugffhkjr
card no. - igfirfgkrhfg

In [167]:
print(a.startswith('card no.'))
print(b.startswith('card no.'))
print(c.startswith('card no.'))

True
False
True

**Split**

**str_name.split(seprator_element,how many splits)**

---> To split the string in perticular manner.

---> Spllited elements are stored in list formate.

---> Default split is from left to right.

---> Default split whole string (if how many splits not given).
         
**str_name.rsplit(seprator_element,how many splits)**

---> To split from Right to left.

In [52]:
a = 'data science is an demanding technology'
print(a)

data science is an demanding technology

In [53]:
b = a.split(' ')

In [54]:
print(b)

['data', 'science', 'is', 'an', 'demanding', 'technology']

In [55]:
c = a.split('a',2)

In [56]:
print(c)

['d', 't', ' science is an demanding technology']

In [57]:
d = a.split('e')
print(d)

['data sci', 'nc', ' is an d', 'manding t', 'chnology']

In [58]:
e = a.split('e',3)
print(e)

['data sci', 'nc', ' is an d', 'manding technology']

In [59]:
a.rsplit(' ',2)

['data science is an', 'demanding', 'technology']

**Strip**

**str_name.split()**

---> To remove whits spaces.

---> Default Removes spaces from both sides.

**str_name.lsplit()**

---> Only strips from Left side.

**str_name.rsplit()**

---> Only strips from Right side.

In [60]:
a = '     ML     '
print(a)

     ML

In [61]:
print(a.strip())

ML

In [62]:
print(a.lstrip())

ML

In [63]:
print(a.rstrip())

     ML

**Find**

**str_name.find(element)**

---> To find the index of perticular element.

---> Diffrent from indexing.

---> will return only 1st occurance of element.

              ---> **Indexing** ---> can be forword (from left to right) or reverse (from right to left).

              ---> **Find** ---> can only be from left to right.

              ---> If element is not preasent **indexing** ---> error
                                                  **find** ---> -1

In [64]:
s = 'python is very importent in 2021'
print(s)

python is very importent in 2021

In [65]:
a = s.find('o') # first occurance
b = s.find('i')
c = s.find('z') # not preasent so -1.
print(a)
print(b)
print(c)

4
7
-1

In [66]:
a = s.index('o') # first occurance
b = s.index('i')
print(a)
print(b)

4
7

In [67]:
s.index('z') # not preasent so error.
print(c)

ValueError: ignored

In [68]:
print(s)

python is very importent in 2021

In [69]:
x = input('Enter the substring')
if s.find(x) == -1:
      print('Given substring is not in the string.')
else:
      print('SubString found')

Enter the substringp
SubString found

**Format**

**'in what format'.format(elements)**

---> To print results in specific format.

---> {} (curly brackets) are called as place holders.

In [70]:
a = 10
b = 20
print('Addition of {} and {} is {}'.format(a,b,a+b))

print(f'Addition of {a} & {b} is {a+b}')

Addition of 10 and 20 is 30
Addition of 10 & 20 is 30

In [71]:
a = int(input('Enter number1: '))
b = int(input('Enter number2: '))
c = a+b
d = a*b
print('Addition of {} and {} is ---> {}'.format(a,b,c))

print(f'Multiplication of {a} and {b} is ---> {d}')

Enter number1: 5
Enter number2: 25
Addition of 5 and 25 is ---> 30
Multiplication of 5 and 25 is ---> 125

In [72]:
a = input('Enter the name:-')
'This is to certify that {} has done todays homework'.format(a)

Enter the name:-sdp

'This is to certify that sdp has done todays homework'

**Partition**

**str_name.partition(element)**

---> Alwaya shows three partitions.
        
        ---> 1st Before match.
        ---> 2nd Matched element.
        ---> 3rd After match.
---> Always shows results in Tuple.

---> If given partition element is not present it will make whole string as 1st partition in tuple and 2nd and 3rd elements are empty.

---> Always checks from left to right.

---> If more than one partition are present it will take 1st element from left and partition as based an that.

In [73]:
s = 'DS and ML are very importent in 2021'

In [74]:
s.partition('very')

('DS and ML are ', 'very', ' importent in 2021')

In [75]:
s.partition(' ')

('DS', ' ', 'and ML are very importent in 2021')

In [76]:
s.partition('ML')

('DS and ', 'ML', ' are very importent in 2021')

**Join**

**"element".join(tuplt_name/list_name/dict_name)**

---> to join elements in list or tuple or dict or string together.

In [77]:
py_string = 'a b c d e'
py_tuple = ('python','java','c++')
py_list = ['python', 'c++', 'java']

x = '@'.join(py_string)
print(x)

y = '#'.join(py_tuple)
print(y)

z = '$'.join(py_list)
print(z)

a@ @b@ @c@ @d@ @e
python#java#c++
python$c++$java

### **CONDITIONAL METHOD**

---> always boolean values

1.  **Is Upper** **string_name.isupper**
        ---> To check if string is in **upper case**.
2.  **Is Lower** **string_name.islower**
        ---> To check if string is in **lower case**.
3.  **Is numerical** **string_name.isnumeric**
        ---> To check if string is **numeric**.
4.  **Is digital** **string_name.isdigit**
        ---> For encoded massages.
        ---> To check if string is **digit**.
5.  **Is alphabetical or numerical** **string_name.isalnum**
        ---> To check if string is alphabetical + numerical.
6.  **Is Alphabetical** **string_name.isalpha**
        ---> To check if string is alphabetical.

**IS UPPER**

**str_name.isupper**

In [78]:
a = 'ABC'
b = 'abc'
c = 'AbC'

print(a.isupper())
print(b.isupper())
print(c.isupper())

True
False
False

**IS LOWER**

**str_name.islower()**

In [79]:
print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

**IS NUMERICAL**


**str_name.isnumeric()**

---> **0 to 9**

---> **Sbuscript** h```2```O

---> **Superscript** $x^{2}$

---> **Numbers in any langauge**

---> **~Float~**

In [86]:
a = 'ABC'
b = '10c'
c = '10'
d = '25.8'
print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())

False
False
True
False

**IS DIGIT**

**str_name.isdigit()**


---> **0 to 9**

---> **Sbuscript** h```2```O

---> **Superscript** $x^{2}$

---> **~Float~**

In [81]:
# FOR CODED MASSAGES

**IS DECIMAL**

**str_name.isdecimal()**

In [85]:
a = '10'
b = '10a'
c = '2.1'

print(a.isdecimal())
print(b.isdecimal())
print(c.isdecimal())

True
False
False

**IS ALPHABETICAL + NUMERICAL**

**str_name.isalnum**

In [82]:
a = 'ABC'
b = '10c'
c = '10'
d = '$$^%$^%$'

print(a.isalnum())
print(b.isalnum())
print(c.isalnum())
print(d.isalnum())

True
True
True
False

**IS ALPHABETICAL**

**str_name.isalpha**

In [83]:
a = 'ABC'
b = '10c'
c = '10'

print(a.isalpha())
print(b.isalpha())
print(c.isalpha())

True
False
False

**IS IDENTIFIRES**

**str_name.isidentifier()**

---> Tocheck if the string can be used as identifier.

In [91]:
a = '10'
b = 'python'
c = '_'

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())

False
True
True

**IS ASCII**

**str_name_isascii()**

---> To find out if the string has ascii coded value.

In [93]:
a = 'h'
b = '$'
c = '~'
print(a.isascii())
print(b.isascii())
print(c.isascii())

True
True
True

**CENTER**

**str_name.center**

---> Display the strung in center.

In [94]:
a = 'python'
print(a)

python

In [98]:
b = (a.center(50))
print(b)

                      python

In [99]:
len(b)

50

**Zfill**

**str_name.zfill(required length)**

---> To add zeros before string to match lenth.

---> lenth of string - numbers of zeros

In [114]:
a = 'python'
b = (a.zfill(2))

In [116]:
print(a.zfill(2))
len(b)

python

6

In [118]:
c = (a.zfill(10))
print(c)
len(c)

0000python

10

**Split lines**

**str_name.splitlines()**

---> To split based on lines.

In [119]:
a = 'python java \n hadoop c++'
print(a)

python java
 hadoop c++

In [120]:
a = "python java \n hadoop c++"
print(a)

python java
 hadoop c++

In [121]:
print(a.splitlines())

['python java ', ' hadoop c++']

**ORD**

**ord('charecter')**

---> To convert charecters to ASCII code.

In [125]:
print(ord('A'))
print(ord('a'))
print(ord('('))

65
97
40

**CHR**

**chr(ASCII CODE)**

---> To convert ASCII code to charecters.

In [126]:
print(chr(65))
print(chr(97))
print(chr(40))

A
a
(

**Translation or Maketraslation**

**str_name.maketrans(tuple/list/dict on which code is based)**

---> To translate charecters in string.

---> Creats maping tuple of what to translate.

In [127]:
a = 'python'
d = {'p':'j'}

In [129]:
table = a.maketrans(d)
print(table)

{112: 'j'}

In [130]:
print(ord('p'))

112

In [131]:
a.translate(table)

'jython'

In [132]:
d = {'y':'d','o':'c'}
print(d)

{'y': 'd', 'o': 'c'}

In [136]:
c = a.maketrans(d)
print(c)

{121: 'd', 111: 'c'}

In [138]:
a.translate(c)

'pdthcn'

**TYPE CASTING**

In [148]:
a = 10
print(a)
print(type(a))

b = str(a)
print(b)
print(type(b))

10
<class 'int'>
10
<class 'str'>

In [151]:
c = (10, 20, 30)
print(c)
print(type(c))

d = list(c)
e = set(c)
print(d)
print(type(d))
print(e)
print(type(e))

(10, 20, 30)
<class 'tuple'>
[10, 20, 30]
<class 'list'>
{10, 20, 30}
<class 'set'>

**FROZENSET**

---> IMMUTABLE

---> Can't do editable operations on frozensrt

In [155]:
s = frozenset({10,20,30})
print(s)

frozenset({10, 20, 30})

In [158]:
p = "python 100 200 300 java"
print(type(p))

<class 'str'>

In [159]:
l = list(p)
print(l)

t = tuple(p)
print(t)

['p', 'y', 't', 'h', 'o', 'n', ' ', '1', '0', '0', ' ', '2', '0', '0', ' ', '3', '0', '0', ' ', 'j', 'a', 'v', 'a']
('p', 'y', 't', 'h', 'o', 'n', ' ', '1', '0', '0', ' ', '2', '0', '0', ' ', '3', '0', '0', ' ', 'j', 'a', 'v', 'a')

In [160]:
split = p.split(' ')
print(split)

['python', '100', '200', '300', 'java']

In [162]:
a,b,c,d,e = split
print(a)
print(b)
print(c)
print(d)
print(e)

python
100
200
300
java

In [194]:
split[0].isnumeric()
numbers = []
for i in split:
    if i.isnumeric():
       numbers.append(i)

print(numbers)

['100', '200', '300']

In [188]:
print(numbers)

['100', '200', '300']