**TUPLE**

Defined by closed circular bracket ()

1.   Tuple is ***ordered*** dada type.
2.   Tuple is ***immutable***. ---> can not make changes once defined (insert, pop, remove, extend)
3.   When we know that data is fixed or rarely changed we can create tuple
4.   Duplicate, Heterogenous elements are allowed.
5.   Comsumes less memory than list hence **More speed** than list.
6.   **Secure** than list

***HOW TO CREATE TUPLE***

In [1]:
w = () # Direct method
print(type(w))
print(id(w))

<class 'tuple'>
139695254880336

In [2]:
w = 1, 2, 5
print(type(w))
print(id(w))

<class 'tuple'>
139694656794704

In [3]:
x = tuple() # Function method
print(type(x))

<class 'tuple'>

In [4]:
a = 10 # Assign only one int element without circular bracket; Default type int.
b = 'abc' # # Assign only one str value without circular bracket; Default type str.
c = 10, 20 # Assign multiple homogenous elements without circular bracket; default type tuple.
d = 'def', 'ghi' # Assign multiple homogenous elements without circular bracket; default type tuple.
e = 10, 'jkl' # Assign multiple heterogenous elements without circular bracket; default type tuple.
f = (10) # Assign only one int element with circular bracket & without after comma; default type int.
g = ('mnp') # Assign only one str element with circular bracket & without after comma; default type str.
h = (10,) # Assign only one int element with circular bracket & with after comma; default type tuple.
i = ('oqr',) # Assign only one int element with circular bracket & with after comma default type tuple.
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))

<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'str'>
<class 'tuple'>
<class 'tuple'>

Can not perform certen functions on tuple which we did on list like insert, extend, append, pop, remove

In [6]:
t = (1, 25, 65, 'python', 'java', 354)
print(t)

(1, 25, 65, 'python', 'java', 354)

In [7]:
t.insert(1,500)

AttributeError: ignored

In [8]:
t.extend(500)

AttributeError: ignored

In [9]:
t.append(500)

AttributeError: ignored

In [10]:
t.pop(2)

AttributeError: ignored

In [11]:
t.remove(1)

AttributeError: ignored

***FUNCTIONS IN TUPLE***

1.  **INDEX** **Tuple Name.index(element)** ---> To find the index of element in tuple.

2.  **COUNT** **tuple name.count(element)** ---> To findout no of occurance of said element.

3.  **INDEXING** **Tuple Name[index]** ---> To call element for certen operation.

In [17]:
x = (9, 56, 354, 'python', 9, 9, 8, 56, 354, 354, 354, 'java')
print(x)

(9, 56, 354, 'python', 9, 9, 8, 56, 354, 354, 354, 'java')

In [19]:
print(x.index(56)) # first occurance of element
print(x.index('java'))

1
11

In [20]:
print(x.count(9))
print(x.count(354))

3
4

In [21]:
x[6]
print(x[6])

8

In [25]:
g = x[6] + x[8] # 8+354
h = x[0] * x[5]
print(g)
print(h)

362
81

***MULTIPLE ASSIGNMENT***

In [28]:
a, b, c = 10, 20, 30
print('a =', a)
print('b =', b)
print('c =', c)

a = 10
b = 20
c = 30

In [31]:
t = a, b, c # Packing
print(t)

(10, 20, 30)

In [30]:
t1 = (100, 200, 300)

x,y,z = t1 # Unpacking

print('x =', x)
print('y =', y)
print('z =', z)

x = 100
y = 200
z = 300

***MATHEMATICAL OPERATIONS***

In [32]:
x1 = (1, 2, 3, 4, 5)
x2 = (10, 20, 30, 40, 50)
print(x1)
print(x2)

(1, 2, 3, 4, 5)
(10, 20, 30, 40, 50)

In [33]:
x3 = x1 + x2
print(x3)

(1, 2, 3, 4, 5, 10, 20, 30, 40, 50)

In [34]:
x4 = x1 * 3
print(x4)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [35]:
x5 = x1 - x2 # Can't be done
print(x5)

TypeError: ignored

In [36]:
x6 = x1 / x2 # Can't be done
print(x6)

TypeError: ignored

In [38]:
print(x1[2] + x2[2])

33

In [40]:
print(x1[2] * x2[2])

90

***minimum & maximum***

In [44]:
x = (9, 56, 354, 9, 9, 8, 56, 354, 354, 354)
print(x)

(9, 56, 354, 9, 9, 8, 56, 354, 354, 354)

In [45]:
print(min(x))
print(max(x))

8
354

In [42]:
x = (9, 56, 354, 'python', 9, 9, 8, 56, 354, 354, 354, 'java')
print(x)

(9, 56, 354, 'python', 9, 9, 8, 56, 354, 354, 354, 'java')

In [43]:
print(min(x))
print(max(x))

TypeError: ignored